:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;

  --primary-color: #920000bf;
  --secondary-color: #ff0000;
  --tertiary-color: #ff5f5f;
  --quaternary-color: #ff9f9f;
  --quinary-color: #ffdfdf;

  --background-color: #242424;
  --icon-color: #2ebe02;

  
  --text-color: #000000;
  --text-white-color: #ffffff;
  
  --border-color: #000000;
  --border-white-color: #ffffff;

  --button-default-color:#979797;
  --button-default-hover-color:#6b6b6b;
  --button-default-active-color:#414141;

  --button-info-color:#979797;
  --button-success-color:#979797;
  --button-warning-color:#979797;
  --button-error-color:#979797;

  --padding: 0.5rem 1rem;

  --border-radius-min: 0.25rem;
  --border-radius: 0.5rem;
  
  --border:1px solid #ffffff;
  --border-green:1px solid #10f704;
  
  --box-shadow: 0px 0px 20px 0px #000000c5;
  --box-shadow-min: 0px 0px 5px 0px #000000c5;

  --box-shadow-light-min: 0px 0px 5px 0px #0000003c;
}
body{
  margin:0px;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
